<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /public

    # Uncomment the below 2 lines if you like to add an auto redirect from http:// to https://
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Remove trailing slash from the URL
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R]

    RewriteCond %{REQUEST_URI} !^/install\.php
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
