@font-face {
  font-family: "impact";
  src: url("/fonts/card-games/impact.woff2") format("woff2"), url("/fonts/card-games/impact.woff") format("woff"), url("/fonts/card-games/impact.ttf") format("ttf");
}
@font-face {
  font-family: "gabriola";
  src: url("/fonts/card-games/gabriola.woff2") format("woff2"), url("/fonts/card-games/gabriola.woff") format("woff"), url("/fonts/card-games/gabriola.ttf") format("ttf");
}
@font-face {
  font-family: "consolaz";
  src: url("/fonts/card-games/consolaz.woff2") format("woff2"), url("/fonts/card-games/consolaz.woff") format("woff"), url("/fonts/card-games/consolaz.ttf") format("ttf");
}
@font-face {
  font-family: "consolai";
  src: url("/fonts/card-games/consolai.woff2") format("woff2"), url("/fonts/card-games/consolai.woff") format("woff"), url("/fonts/card-games/consolai.ttf") format("ttf");
}
@font-face {
  font-family: "consolab";
  src: url("/fonts/card-games/consolab.woff2") format("woff2"), url("/fonts/card-games/consolab.woff") format("woff"), url("/fonts/card-games/consolab.ttf") format("ttf");
}
@font-face {
  font-family: "consola";
  src: url("/fonts/card-games/consola.woff2") format("woff2"), url("/fonts/card-games/consola.woff") format("woff"), url("/fonts/card-games/consola.ttf") format("ttf");
}
